<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FileCapacity" value="1048576" />
    <add key="MaxValue" value="1000" />
    <add key="LineSize" value="5" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>